@import "../../styles/constants";
@import "constants.module";

.wallToWallContainer {
  width: 100vw;
  min-height: 100vh;
  background: url("/assets/background-image.jpg") fixed;
  background-size: cover;
}

.outerContainerHeader {
  width: 100%;
  margin: 0 auto;
  z-index: $zMax;

  &.stickyHeader {
    position: sticky;
    top: 0;
  }
}

.innerContainerHeader {
  width: 100%;
  max-width: $layoutContainerOuterWidth;
  margin: 0 auto;

  min-height: $doubleLineNavMinHeight;

  &.doubleLineTopNav {
    min-height: $doubleLineNavHeight;
  }
}

.outerContainerBody {
  max-width: $layoutContainerOuterWidth;
  margin: auto;
  padding: 0 $layoutContainerPadding;

  min-height: calc(100vh - #{$doubleLineNavMinHeight} - #{$primaryNavHeight});

  &.doubleLineTopNav {
    min-height: calc(100vh - #{$doubleLineNavHeight} - #{$primaryNavHeight});
  }

  background-color: rgba($white200, .5);
  &.debug {
    background-color: rgba($turquoise, .5);
  }

}

.innerContainerBody {
  display:flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 15px;
  background: url("/assets/background-tile.jpg") repeat;


  min-height: calc(100vh - #{$doubleLineNavMinHeight} - #{$primaryNavHeight});

  &.doubleLineTopNav {
    min-height: calc(100vh - #{$doubleLineNavHeight} - #{$primaryNavHeight});
  }

  &.debug {
    background-image: repeating-linear-gradient(90deg, $white, $white $columnMargin, $magenta $columnMargin, $magenta calc(#{$columnMargin} + #{$columnInnerWidth}), $white calc(#{$columnMargin} + #{$columnInnerWidth}), $white $columnOuterWidth);
  }
}

.outerContainerFooter {
  width: 100%;
  margin: 0 auto;
}

.innerContainerFooter {
  width: 100%;
  max-width: $layoutContainerOuterWidth;
  margin: 0 auto;

  min-height: $primaryNavHeight;
}


.block {
  margin: 0 $columnMargin;
}

.width1 {
  max-width: $columnWidth1;
  margin: 0 $columnMargin;
}

.width2 {
  max-width: $columnWidth2;
  margin: 0 $columnMargin;
}

.width3 {
  max-width: $columnWidth3;
  margin: 0 $columnMargin;
}

.width4 {
  max-width: $columnWidth4;
  margin: 0 $columnMargin;
}

.width5 {
  max-width: $columnWidth5;
  margin: 0 $columnMargin;
}

.width6 {
  max-width: $columnWidth6;
  margin: 0 $columnMargin;
}

.width7 {
  max-width: $columnWidth7;
  margin: 0 $columnMargin;
}

.width8 {
  max-width: $columnWidth8;
  margin: 0 $columnMargin;
}

.width9 {
  max-width: $columnWidth9;
  margin: 0 $columnMargin;
}

.width10 {
  max-width: $columnWidth10;
  margin: 0 $columnMargin;
}

.width11 {
  max-width: $columnWidth11;
  margin: 0 $columnMargin;
}

.width12 {
  max-width: $columnWidth12;
  margin: 0 $columnMargin;
}