@import "constants.module";

.wallToWallContainer {
  width: 100vw;
  min-height: 100vh;
  background-color: $whiteish;
}

.outerContainerHeader {
  width: 100%;
  margin: 0 auto;
  padding: 0 calc(#{$layoutContainerPadding} + #{$columnMargin});
  height: $headerHeight;
  background-color: $black;
}

.innerContainerHeader {
  width: 100%;
  max-width: $layoutContainerOuterWidth;
  margin: 0 auto;
  padding: 0 calc(#{$layoutContainerPadding} + #{$columnMargin});
  height: $headerHeight;
  background-color: $whiteish;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.outerContainer {
  min-height: 100vh;
  width: $layoutContainerOuterWidth;
  margin: auto;
  padding: 0 $layoutContainerPadding;

  &.debug {
    background-color: rgba($turquoise, .5);
  }
}

.innerContainer {
  min-height: 100vh;
  width: $layoutContainerInnerWidth;

  &.debug {
    background-image: repeating-linear-gradient(90deg, $white, $white $columnMargin, $magenta $columnMargin, $magenta calc(#{$columnMargin} + #{$columnInnerWidth}), $white calc(#{$columnMargin} + #{$columnInnerWidth}), $white $columnOuterWidth);
  }
}

.block {
  margin: 0 $columnMargin;
}

.width1 {
  min-width: $columnWidth1;
}

.width2 {
  min-width: $columnWidth2;
}

.width3 {
  min-width: $columnWidth3;
}

.width4 {
  min-width: $columnWidth4;
}

.width5 {
  min-width: $columnWidth5;
}

.width6 {
  min-width: $columnWidth6;
}

.width7 {
  min-width: $columnWidth7;
}

.width8 {
  min-width: $columnWidth8;
}

.width9 {
  min-width: $columnWidth9;
}

.width10 {
  min-width: $columnWidth10;
}

.width11 {
  min-width: $columnWidth11;
}

.width12 {
  min-width: $columnWidth12;
}