@import "../../components/layout/constants.module";

.wideImageContainer{
  width: $columnWidth8;
  display: flex;
  margin: auto;
}

.wideImage {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}