// Colors
$darkBrown: #44443a;
$lightBrown: #68685b;
$white100: #fff;
$white200: #ebebdb;
$green100: #316531;

$black: #000;
$white: #fff;
$whiteish: #ccc;
$turquoise: #55efc4;
$magenta: lighten(#FF00FF, 20%);

